/* general */
body {
  color: white;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Bootstrap config */

.form-check-input {
  height: 1.5rem !important;
  width: 3rem !important;
  transition: 0.5s !important;
}

/* add font-size */

.fs-xxl {
  font-size: 4rem;
}
.fs-xl {
  font-size: 3rem;
}

.fs-7 {
  font-size: 0.8rem;
}

/* backgrounds */
.bg-1 {
  background-color: #262626;
}

.bg-2 {
  background-color: #373737;
}

/* Task List */

#dates-list {
  height: 6rem;
  scrollbar-width: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  -ms-overflow-style: none; /* Desactiva el scrollbar en Internet Explorer y Edge */
  &::-webkit-scrollbar {
    display: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  }
}

.date-list-item {
  height: 70%;
  min-width: 4.5rem;
  transition-duration: 1s;
}

/* Buttons */

.btn-1 {
  &:hover {
    background-color: #545454;
  }
}

/* Form config */

.task_hour_label:focus-within {
  animation: selectedInput 1.5s infinite;
}

/* Animations */

@keyframes selectedInput {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
