/* general */
body {
  color: white !important;
}
a {
  color: unset;
  text-decoration-line: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Bootstrap config */

.form-check-input {
  height: 1.5rem !important;
  width: 3rem !important;
  transition: 0.5s !important;
}

.card-img-container {
  height: 50vw;
  max-height: 400px;
}

.shadow {
  box-shadow: 0px 0px 15px black !important;
}

/* add font style */

.fs-xxl {
  font-size: 4rem;
}
.fs-xl {
  font-size: 3rem;
}

.fs-7 {
  font-size: 0.8rem;
}

.text-error {
  color: red;
}

/* backgrounds */
.bg-1 {
  background-color: #262626;
}

.bg-2 {
  background-color: #373737;
}

/* Task List */

#dates-list {
  gap: 0.5rem;
  height: 6rem;
  scrollbar-width: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  -ms-overflow-style: none; /* Desactiva el scrollbar en Internet Explorer y Edge */
  &::-webkit-scrollbar {
    display: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  }
}

.date-list-item {
  height: 70%;
  min-width: 4.5rem;
  transition-duration: 1s;
}

/* Buttons */

.btn-1 {
  color: white;
  &:hover {
    background-color: #545454;
  }
}

.edit-button {
  background-color: #66b9bf;
  &:hover {
    background-color: #479398 !important;
    border-color: #7cc3c8 !important;
  }
}

.delete-button {
  background-color: #e00031;
  &:hover {
    background-color: #bb0028 !important;
    border-color: #e0627d !important;
  }
}

.circle-checkbox {
  padding: 1.2rem;
  width: 2rem !important;
  height: 2rem !important;
  background-color: #373737;
  transition: 150ms;
  border: 1px solid #6c6c6c9c;
}

.circle-checkbox-active {
  background-color: #6c6c6c;
}

/* Form config */

.task_hour_contain_input:focus-within .task_hour_text {
  animation: selectedInput 1.5s infinite;
}

.result-options-list {
  background-color: #545454;
  margin-top: 0;
  height: 0;
  overflow-y: auto;
  transition: 1s;
}

.result-option {
  padding: 0.2rem 1rem;
  &:hover {
    background-color: #373737;
  }
}

.genre-input-container:focus-within {
  .result-options-list {
    height: 6rem;
  }
  .genre-input {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

/* Alert */

.alert-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tasks date detail */

.tasks-date-detail {
  height: 5px;
  width: 100%;
}
.complete-tasks-date-detail {
  height: 10px;
  background: #66b9bf;
}

/* Animations */

@keyframes selectedInput {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
