/* general */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* add font-size */

.fs-7 {
  font-size: 0.8rem;
}

/* backgrounds */
.bg-1 {
  background-color: #262626;
}

.bg-2 {
  background-color: #373737;
}

/* Task List */

#dates-list {
  height: 6rem;
  scrollbar-width: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  -ms-overflow-style: none; /* Desactiva el scrollbar en Internet Explorer y Edge */
  &::-webkit-scrollbar {
    display: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
  }
}

.date-list-item {
  height: 70%;
  min-width: 4.5rem;
  transition-duration: 1s;
}

.active-date-item {
  height: 100%;
  background-color: #373737;
}
